.App {
  text-align: center;
  height: 100vh;
  background-color: #482258;
  position: relative;
  z-index: 1;
}

.footer {
  z-index: 2;
  position: absolute;
  height: 3rem;
  bottom: 3rem;
  width: 100%;
}

h1 {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

h3 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

p {
  color: #fff;
  font-size: 1rem;
  font-weight: 200;
  margin-top: 2rem;
}

a {
  color: #fff;
  font-size: 1rem;
  font-weight: 200;
  margin-top: 2rem;
}

.comp {
  font-weight: 500;
}
